*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid red; */
    background-color: wheat;
}

.btn{
    background-color: none;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

#green:hover{
    background-color: green;
    transition: 300ms;
    color: white;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}

#gray:hover{
    background-color: gray;
    transition: 300ms;
    color: white;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}

#red:hover{
    background-color: red;
    transition: 300ms;
    color: white;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}

h1{
    font-size: 60px;
    text-transform: capitalize;
}

span{
    font-size: 100px;
    padding: 1rem;
    color: gray;
    margin-bottom: 1.5rem;
}

.c{
    text-align: center;
    background-color: white;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
}